@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);

$timer: 10s;

$white: rgb(255, 255, 255);
$black: darken($white, 100%);
$gray: darken($white, 70%);
$green: rgb(55, 200, 123);
$red: rgb(255, 0, 0);
$yellow: rgb(255, 255, 0);

// Clouds
$cloud-items: 10;
$cloud-color: $white;
$cloud-h: 40px;
$cloud-w: 100px;
$cloud-radius: 100%;
$cloud_move--speed: radnom($cloud-items) + 's';
$cloud_move--delay: random($cloud-items) + 's';
$cloud-zindex: 1;

// Airplane
$airplane-items: 21;

// Timer
$timer-animation-speed: 15s;
$timer-w: 100%;
$timer-h: 5px;
$timer-bg: $gray;
$timer-duration-bg: $green;
$timer-zindex: $cloud-zindex+2;

// Game Over
$gameover-animation-speed: 0.5s;
$gameover-bg: $green;
$gameover-zindex: $cloud-zindex+10;

// Pixel art
// $colors: (
//   'o': transparent,
//   'b': rgb(0, 0, 255),
//   'g': rgb(160, 160, 160),
//   'w': rgb(200, 200, 200),
//   'd': rgb(0, 0, 0)
//   );

$size: 3px !default;

// $pixel-art: (
//   airplane: (
//     (o o o o o o o o o o o o o o o o o o o g g g g o o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g g b b g g o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g g g g g g o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g g g g g g o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g w g g w g o o o o o o o o o o o o o o o o o o)
//     (o w w w o w w w o w w w o w w w o o g w g g w g o o w w w o w w w o w w w o w w w o)
//     (o o d o o o d o o o d o o o d o o o g w g g w g o o o d o o o d o o o d o o o d o o)
//     (g g g g g g g g g g g g g g g g g g g w g g w g g g g g g g g g g g g g g g g g g g)
//     (g g g w w w w w w g g g g g g g g g g w g g w g g g g g g g g g g w w w w w w g g g)
//     (o o g g g g g g g g g g g g g g g g g w g g w g g g g g g g g g g g g g g g g g o o)
//     (o o o o o o g g g g g g g g g g g g g g g g g g g g g g g g g g g g g g o o o o o o)
//     (o o o o o o o o o o o o o o g g g g g g g g g g g g g g o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g g g g g g g o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g g g g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g g g g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g g g g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g g g g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g w w g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g w w g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o w g w w g w o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o o o o g g w w g g o o o o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o o g g g g g w w g g g g g o o o o o o o o o o o o o o o)
//     (o o o o o o o o o o o o o o w w w w g g w w g g w w w w o o o o o o o o o o o o o o)
//   )
// );

// @function pixelize($matrix, $size) {
//   $sh: '';
//   $rows: length($matrix);

//   @for $row from 1 through $rows {
//     $row-num: nth($matrix, $row);

//     @for $col from 1 through length($row-num) {
//       $dot: nth($row-num, $col);

//       $sh: $sh + ($size*$col) + ' ' + ($size*$row) + ' ' + map-get($colors, $dot);

//       @if not ($col == length($row-num) and $row == $rows) {
//         $sh: $sh + ',';
//       }
//     }
//   };

//   @return unquote($sh);
// }

@function movement-h() {
  $position: random()*75 + 'vh';

  @return #{$position};
}

@function movement-w() {
  $position: random()*90 + 'vw';

  @return #{$position};
}

// Mixins
@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin square($size) {
  @include size($size, $size);
}

@for $clouds from 1 through $cloud-items {

  @keyframes clouds_move-#{$clouds} {
    0% {
      left: -150px;
    }

    100% {
      left: 100vw;
    }
  }
}

@for $airplane from 1 through $airplane-items {

  @keyframes airplane_move-#{$airplane} {
    0% {
      bottom: -100px;
    }

    100% {
      bottom: 100vh;
    }
  }
}

@keyframes intro {
  0%, 90% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-110vw);
  }
}

@keyframes intro-timer {
  0%, 90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes intro-timer-2 {
  0% {
    opacity: 0;
  }

  1%, 100% {
    opacity: 1;
  }
}

@keyframes stage_move {
  0% {
    top: 30%;
  }

  100% {
    top: 70%;
  }
}

@keyframes timer {
  0% {
    opacity: 0.25;
    width: 0;
  }
  
  100% {
    display: block;
    opacity: 1;
    width: $timer-w;
  }
}

@keyframes gameover {
  0%, 99% {
    transform: translateY(-120vh);
  }
  
  100% {
    transform: translateY(0);
  }
}

html, body {
  @include size(100vh, 100vw);
  display: flex;
  flex: 1 0 100%;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.wrapper {
  counter-reset: game;
  display: flex;
  flex: 1;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.intro {
  @include size(100vh, 100vw);
  animation: intro #{$timer} linear #{$timer - 9} forwards;
  background-color: $white;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  left: 0;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: $gameover-zindex * 2;

  h1 {
    align-self: center;
    border-bottom: solid 2px $black;
    font-size: 3rem;
    font-weight: 600;
    margin: 30px 0;
  }

  .instructions {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--timer {
    align-items: center;
    background-color: $black;
    display: flex;
    flex-direction: column;
    height: 110px;
    margin: 0 auto;
    padding: 10px;
    width: 60px;

    div {
      @include square(30px);
      background-color: rgba($white, 0.6);
      border-radius: 100%;
      margin-bottom: 10px;
      opacity: 0;

      &.red {
        animation: intro-timer (#{$timer - 9}) linear (#{$timer - 5}) forwards;
        background-color: $red;
        opacity: 1;
      }

      &.yellow {
        animation: intro-timer (#{$timer - 9}) linear (#{$timer - 5}) forwards;
        background-color: $yellow;
      }

      &.green {
        animation: intro-timer-2 (#{$timer - 9}) linear (#{$timer - 4}) forwards;
        background-color: $green;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.stage {
  animation: stage_move (#{$timer * 2}) linear forwards;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/44572/map.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  display: flex;
  height: 150vh;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 0;
}

input[type="radio"] {
  @include square(0);
  appearance: none;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;

  &:checked {
    counter-increment: game;
  }

  &:nth-of-type(2n+2) {

    &:checked {
      counter-increment: game 5;
    }
  }

  &:nth-of-type(3n+3) {

    &:checked {
      counter-increment: game 10;
    }
  }
}

// Clouds
// ================================================================================
.cloud {
  @include size($cloud-h, $cloud-w);
  background-color: $cloud-color;
  border-radius: ($cloud-radius/2) / (#{$cloud-radius});
  box-shadow: 0 0 20px 0 rgba(darken($cloud-color, 100%), 0.1);
  left: calc(-100vw - #{$cloud-w});
  position: absolute;
  z-index: $cloud-zindex;

  &:before,
  &:after {
    background-color: $white;
    border-radius: $cloud-radius;
    content: '';
    position: absolute;
  }

  &:before {
    height: $cloud-h;
    left: 10%;
    top: -40%;
    width: ($cloud-w * 0.4);
  }

  &:after {
    height: ($cloud-h * 1.5);
    right: 5%;
    top: -70%;
    width: ($cloud-w * 0.6);
  }

  &:nth-of-type(2n+2) {
    transform: scale(0.7);

    &:before,
    &:after {
      box-shadow: -1px 0 10px 0 rgba(darken($cloud-color, 100%), 0.1);
    }
  }

  &:nth-of-type(3n+3) {
    transform: scale(0.5);

    &:before,
    &:after {
      box-shadow: -1px 0 10px 0 rgba(darken($cloud-color, 100%), 0.1);
    }
  }

  &:nth-of-type(even) {

    &:before,
    &:after {
      box-shadow: 1px 0 10px 0 rgba(darken($cloud-color, 100%), 0.1);
    }

    &:before {
      z-index: 1;
    }
  }

  @for $i from 1 through $cloud-items {
    &:nth-of-type(#{$i}) {
      top: movement-h();
      $speed: random(20)*5 + 's';
      $delay: random($cloud-items/10)*1.5 + 's';

      animation: clouds_move-#{$i} #{$speed} linear #{$delay} infinite;
    }
  }
}

// Ariplane
// ================================================================================
.airplane {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/44572/airplane-04.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  bottom: -100px;
  // height: $size*length(map-get($pixel-art, airplane));
  height: 100px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  // width: $size*length(nth(map-get($pixel-art, airplane), 1));
  width: 75px;

  &:nth-of-type(2n+2) {
    transform: translateX(-50%) scale(0.66);
  }

  &:nth-of-type(3n+3) {
    transform: translateX(-50%) scale(0.33);
  }

  // &:after {
  //   @include square($size);
  //   box-shadow: pixelize(map-get($pixel-art, airplane), $size);
  //   content: '';
  //   left: -$size;
  //   position: absolute;
  //   top: -$size;
  // }

  &:hover {
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/44572/crosshir.png) 25 15, auto;
  }

  @for $i from 1 through $airplane-items {
    &:nth-of-type(#{$i}) {
      left: movement-w();
      $speed: random(10)*2 + 's';
      $delay: random((($airplane-items - 1)/10)*1.5);

      animation: airplane_move-#{$i} #{$speed} linear #{$delay + $timer} infinite;
    }
  }
}

@for $i from 1 through $airplane-items {
  .airplane_#{$i} {

    &:checked {

      & ~ .airplane-#{$i} {
        opacity: 0;
        transform: translateX(-50%) scale(0.01);
        transition: all 0.5s linear;
      }
    }
  }
}

// Timer
// ================================================================================
.timer {
  @include size($timer-h, $timer-w);
  background-color: $timer-bg;
  border-bottom: solid 1px darken($timer-bg, 100%);
  left: 0;
  position:fixed;
  top: 0;
  z-index: $timer-zindex;

  span {
    @include size($timer-h, $timer-w);
    animation: timer (#{$timer * 5}) linear (#{$timer + 2}) forwards;
    background-color: $timer-duration-bg;
    display:block;
    opacity: 0;
  }
}

// Gameover
// ================================================================================
.gameover {
  @include size(100vh, 100vw);
  align-items: center;
  animation: gameover (#{$timer * 5}) linear (#{$timer + 2}) forwards;
  background-color: rgba($gameover-bg, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  padding: 10px;
  position: fixed;
  top: 0;
  transform: translateY(-120vh);
  z-index: $gameover-zindex;
  
  a {
    color: white;
  }
}

// Score
// ================================================================================
.score {
  background-color: $white;
  border: solid 1px $black;
  bottom: 10px;
  font-size: 1.2rem;
  left: 10px;
  padding: 10px;
  position: fixed;
  z-index: $timer-zindex+10;

  &--current {

    &:after {
      content: counter(game);
      font-weight: 600;
      margin: 0 10px;
    }
  }
}
